@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 align="left">Bienvenido</h1>
    <div>
        <p></p>
        <img src="images/Logo.jpg" alt="Logo de Equipo" width="300px" align="right"/><h3 align="left" >A la página del TopDev Project, aquí podrás encontrar todo lo que buscas y hacer las acciones que requieras con tan solo un click y desde la comodidad de tu casa. Deseamos que tu paso por nuestra página sea muy satisfactotio para ti</h3>
        </p>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
