@page
@model FrontEnd.Pages.Empleados.ActualizarModel
@{
}
<h4 class="text-center">ACTUALIZAR EMPLEADO</h4>
@if (Model.empleadoActualizado == 0)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>¡No se pudo actualizar el Empleado, intentelo de nuevo!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else if(Model.empleadoActualizado == 1) 
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>¡Empleado actualizado correctamente!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else {

}

<div class="card">
    <div class="card-body">
        <form class="row g-3" method="POST">
            <input type="hidden" id="IdEmpleado" asp-for="Empleado.Id">
            <div class="col-md-8">
                <label for="NombreCompletoEmpleado" class="form-label">Nombre Completo</label>
                <input asp-for="Empleado.Nombre" type="text" class="form-control" id="NombreCompletoEmpleado">
                <small id="MensajeValidacionCampoNombreCompletoEmpleado"></small>
            </div>
            <div class="col-md-4">
                <label for="FechaNacimientoEmpleadoA" class="form-label">Fecha de Nacimiento</label>
                <input asp-for="Empleado.Fecha_Nacimiento" asp-format="{0:dd/MM/yyyy HH:mm}" type="date"
                    class="form-control" value="@Model.Empleado.Fecha_Nacimiento.ToString("yyyy-MM-dd")" id="FechaNacimientoEmpleadoA">
            </div>
            <div class="col-md-6">
                <br>
                <label for="SueldoBrutoEmpleado" class="form-label">Sueldo Bruto</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input asp-for="Empleado.Sueldo_Bruto" type="text" class="form-control" id="SueldoBrutoEmpleado">
                    <small id="MensajeValidacionCampoSueldoBrutoEmpleado"></small>
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <label for="EmpresaEmpleado" class="form-label">Empresa</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-building-o"></i></div>
                    </div>
                    <select asp-for="Empleado.IdEmpresa"
                        asp-items="@(new SelectList(Model.listadoEmpresas,"Id","Nombre"))" class="form-control"
                        aria-label="Default select example" id="EmpresaEmpleado">
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <label for="DirectivoEmpleado" class="form-label">Directivo</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-users"></i></div>
                    </div>
                    <select asp-for="Empleado.IdDirectivo"
                        asp-items="@(new SelectList(Model.listadoDirectivos,"Id","Nombre"))" class="form-control"
                        aria-label="Default select example" id="DirectivoEmpleado">
                    </select>
                </div>
                <br>
            </div>
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-info" id="ActualizarEmpleado">Actualizar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<a asp-page="./Listado" class="btn btn-warning">
    <i class="fa fa-arrow-left"></i>
    Regresar
</a>