@page
@model FrontEnd.Pages.Empresas.DetalleModel
@{
}

<h4 class="text-center">Detalle Empresa</h4>

<div class="card">
    <div class="card-body">
        
        <div class="col-med-12">
            <p><strong>Nombre Empresa: </strong>@Model.Empresa.Nombre</p>
        </div>

    </div>
</div>